# 	Из папки bin
## 	Для MS Visual Studio 2019/2022
bin/*.exe
bin/*.pdb
bin/*.dll

# 	Из папки build
## 	Для MS Visual Studio 2019
build/msvs2019/moc/
build/msvs2019/x64/
build/msvs2019/.vs/
## 	Для MS Visual Studio 2022
build/msvs2022/moc/
build/msvs2022/x64/
build/msvs2022/.vs/
## Для QtCreator
